.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #0F0140;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #19263a;
}

.nav-right {
  float: right;
}

.logo {
  display: inline-block;
  padding: 0 20px;
  margin: 15px 0;
  font-family: 'Teko', 'Tahoma', 'Geneva', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: #a530f2;
  text-decoration: none;
}

.logo-start {
  font-weight: 500;
  color: #0391d5;
}

.logo-end {
  font-weight: 500;
  color: #f229bd;
}
